<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joanna.housepharmacy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cross"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HelpActivity" />
        <activity android:name=".Activities.MedAddActivity" />
        <activity android:name=".Activities.MedDisplayActivity" />
        <activity android:name=".Activities.MedUpdateActivity" />
        <activity android:name=".Activities.PlaceAddActivity" />
        <activity android:name=".Activities.PlaceUpdateActivity" />
        <activity android:name=".Activities.PlaceDisplayActivity" />
    </application>

</manifest>